<div class="footer-box container">
    <p class="text-footer"><span>&#169</span> 2020 | All Rights Reserved |</p>
    <p class="footer-rext_two">Developed with by
        <span class="footer-icon">&#10084</span>
        <a href="#" class="footer_link">GoIT Students</a>
    </p>
</div>