<div class="container">
    <div class="header-navigation">
        <div class="icon">&#9749 <span class="name-site">Filmoteka</span>
            <!-- <svg>
                        <use>&#9749</use>
                    </svg> -->
        </div>

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list__item current">
                    <a href="#" class="nav-item__link">HOME</a>
                </li>
                <li class="nav-list__item current">
                    <a href="./myLibery.html" class="nav-item__link">MY LIBARY</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="search-film">
        <input type="text" name="name" id="name-film" class="name-film" placeholder="Название фильма">
        <i class="icon-search">&#9903</i>
    </div>