{{!-- <div class="container">
    <ul class="film-list">
        <li class="film-item">
            <img class="film-img" src="../images/Rectangle1.jpg" alt="" />
            <h3 class="film-title">GREYHOUND</h3>
            <div class="film-text-box">
                <p class="film-text">Drama, Action</p>
                <p class="film-text-date">2020</p>
                <p class="film-text-rating">8.0</p>
            </div>
        </li>
        <li class="film-item">
            <img class="film-img" src="../images/Rectangle2.jpg" alt="" />
            <h3 class="film-title">MONSTER HUNTER</h3>
            <div class="film-text-box">
                <p class="film-text">Drama, Action</p>
                <p class="film-text-date">2020</p>
                <p class="film-text-rating">5.0</p>
            </div>
        </li>
        <li class="film-item">
            <img class="film-img" src="../images/Rectangle3.jpg" alt="" />
            <h3 class="film-title">ONCE UPON A TIME... IN HOLLYWOOD</h3>
            <div class="film-text-box">
                <p class="film-text">Drama, Comedy</p>
                <p class="film-text-date">2019</p>
                <p class="film-text-rating">8.0</p>
            </div>
        </li>
    </ul>
</div> --}}
{{!-- js-cards --}}
{{!-- <h2 class="title-hidden">Films</h2> --}}
<div class="container">
    <ul class="film-list">
    </ul>
</div>