<a class="arrow-btn " href="#" role="button" data-id="prev">
<span class="arrow-icon" data-id="prev">&#8592</span>
</a>

<ul class="pages-list">
    {{#each list}}
    <li class="pages-list-item" data-type="pagination-item" data-id="{{this}}">
        <a href="" class="pages-list-link" data-id="pagination">{{this}}</a>
    </li>
    {{/each}}
</ul>

<a class="arrow-btn " href="#" role="button" data-id="next">
<span class="arrow-icon" data-id="next">&#8594</span>
</a>