<section class="pagination-spinner">

    <a class="arrow-btn prev-page-btn" href="#" role="button">
        <svg class="arrow-icon">
            <use href="{{src}}#arrow-left"></use>
        </svg>
    </a>

    <ul class="pages-list">
        <li class="pages-list-item"> <a href="" class="pages-list-link">1</a></li>
        <li class="pages-list-item current-item "> <a href="" class="pages-list-link current-link">2</a></li>
        <li class="pages-list-item"> <a href="" class="pages-list-link">3</a></li>
        <li class="pages-list-item"> <a href="" class="pages-list-link">4</a></li>
        <li class="pages-list-item"> <a href="" class="pages-list-link">5</a></li>
    </ul>

    <a class="arrow-btn next-page-btn" href="#" role="button">
        <svg class="arrow-icon">
            <use href="{{src}}#arrow-right"></use>
        </svg>
    </a>

</section>