// #myModal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   padding-top: 100px; /* Location of the box */
//   // padding-left: 71px;
//   // padding-right: 71px;

//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   // background-color: rgb(0, 0, 0); /* Fallback color */
//   // background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
// }

// .backdrop {
//   display: none;
//   background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
// }

// .is-open {
//   display: block;
// }
.film-info-container {
  display: grid;
  gap: 30px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.modal-content {
  display: none;
  position: fixed;
  z-index: 200;
  padding: 50px 30px 40px 30px;

  box-sizing: content-box;

  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // -webkit-animation-name: animatetop;
  // -webkit-animation-duration: 0.4s;
  // animation-name: animatetop;
  // animation-duration: 0.4s;
}

.modal-content.is-open {
  display: block;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;

  color: rgb(136, 130, 130);
  // float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

// стили по HTML разметке
// .modal-content {
//   display: flex;
//   padding: 50px 30px 40px 30px;

//   display: flex;

//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//   grid-gap: 30px;
// }

.img-poster {
  display: block;
  // border: 1px solid red;
  background-color: rgb(102, 92, 92);
  width: 100%;
  height: 477px;
}

.modal-info {
  // border: 1px solid red;
  padding: 0;
}
.feature {
  display: flex;
  margin-bottom: 20px;
}
.text-modal:not(:last-child) {
  margin-bottom: 10px;
}
.text-value:not(:last-child) {
  margin-bottom: 10px;
}
.text-left {
  margin-right: 83px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.text-right {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.text-value.uppercase {
  text-transform: uppercase;
}

.title-modal {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  margin: 0;
  margin-bottom: 20px;
}
.about-title-modal {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.about-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;

  margin-bottom: 20px;
}
.text-rating-1 {
  width: 36px;
  height: 16px;

  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;

  padding: 1px 9px 1px 10px;
}
.text-rating-2 {
  width: 36px;
  height: 16px;

  background: #f7f7f7;
  border-radius: 5px;

  padding: 1px 4px 1px 4px;
}
.slash {
  color: #8c8c8c;
}
