.pagination-container {
  @include flex(center, center);
}
.pages-list {
  @include flex(center, center);
  flex: 1 1 100%;
  list-style: none;
  padding: 0;

  &-item {
    @include flex(center, center);
    flex: 0 0 40px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;

    &:hover .pages-list-link[data-id='pagination'],
    &:focus .pages-list-link[data-id='pagination'] {
      color: var(--primary-text-color);
    }

    &[data-id='pagination-item']:hover,
    &[data-id='pagination-item']:focus {
      background-color: var(--subtitle-orange-color);
    }
  }

  &-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
    text-decoration: none;
    color: var(--title-colour);
    background-color: transparent;
    pointer-events: none;
  }
}

.current-item {
  background-color: var(--subtitle-orange-color);
}
.current-link {
  color: #ffffff;
}

.active {
  display: block;
}
.arrow-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: var(--title-colour);
}
