.header {
  height: 280px;
  &-navigation {
    @include flex(space-between);
    padding: 46px 0px;
    color: white;
  }
}
.logo {
  @include flex;
  align-items: center;
  &-link {
    text-decoration: none;
    color: var(--primary-text-color);
  }
  &-name-site {
    font-size: 30px;
    &:hover {
      color: #ff6b08;
    }
  }
  &-icon {
    width: 24px;
    height: 24px;
    stroke: #818181;
    margin-right: 10px;
    &:hover {
      width: 30px;
      height: 30px;
      stroke: #ff6b08;
    }
  }
}
.nav-list {
  @include flex(flex-start, center);
  list-style: none;
  &__item:first-child {
    margin-right: 39px;
  }
}
.nav-item__link {
  text-decoration: none;
  color: white;
  &:hover {
    color: #ff6b08;
  }
}
.search-form {
  position: relative;
  color: white;
  margin: 0 auto;
  width: 280px;
  outline: none;
  @media screen and(min-width: 320px) {
    width: 280px;
  }
  &-input {
    width: 100%;
    border: none;
    padding-bottom: 2px;
    border-bottom: 2px solid silver;
    background: transparent;
    font-size: 14px;
    color: white;
    outline: none;
  }
}
.btn-search {
  position: absolute;
  border: none;
  background: transparent;
  outline: none;
  right: 0px;
  top: -4px;
  cursor: pointer;
  &-icon {
    width: 12px;
    height: 12px;
    stroke: white;
    &:hover {
      width: 15px;
      height: 15px;
      stroke: #ff6b08;
    }
  }
}
@media screen and (min-width: 320px) {
  .logo-name-site {
    display: none;
  }
  .search-form {
    width: 280px;
  }
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home-mob@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home-tablet@2x.jpg);
  }
  .header-container {
    padding: 58px 71px;
  }
  .logo-name-site {
    display: block;
  }
  .search-form {
    width: 336px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home-decktop@2x.jpg);
  }
}

.not-found {
  color: red;
}
