.film-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  grid-gap: 30px;
}
.film-img {
  border-radius: 5px;
  width: 100%;
}
.film-text-box {
  display: flex;
  margin-top: 2px;
}
.film-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
}
.film-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding-right: 5px;
  color: #ff6b01;
}
.film-text-date {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin-left: 5px;
  color: #ff6b01;
}
.film-text-rating {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 5px;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background-color: #ff6b01;
  color: white;
}
.film-text:first-child {
  border-right: 2px solid #ff6b08;
}